.slide-in{
    opacity: 0;
    color:red;
    background-color: #422442;
    border-radius: 1rem;
    text-align: center;
    width: 200px;
    height: 30px;
    transform: translateY(-100%);
    transition: transform 1s ease-in , opacity 1s ease-out;
}

.slide-in.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes slide-in-top {
    0% {
     opacity: 0;
     transform: translateY(-100);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

