

body {
    background-color: #2e2c39;
    overflow: hidden;
}

.cursor {
    position: absolute;
    left: 40px;
    pointer-events: none;
}

.cursor span{
    position: absolute;
    width: 15px;
    height: 60px;
    background: #fff;
    transform: translate(50%, 50%);
    z-index: 1;
    border-top: 60px solid #ff7534;
    border-bottom: 60px solid #00c464;
}
.cursor span:nth-child(9) {
    z-index: 100;
}

.cursor span:nth-child(9)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url("https://i.postimg.cc/FKSbgrhD/chakra.png");
    background-size: cover;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.github-watermark{
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0.5;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.github-watermark :hover{
    opacity: 1;
    fill:#fff;
}

